server:
  port: 8087
spring:
  application:
    name: activityService

  datasource:
    url: jdbc:postgresql://localhost:5444/activity
    username: honey
    password: honey123

  jpa:
    hibernate:
      ddl-auto: update

    database-platform: org.hibernate.dialect.PostgreSQLDialect



  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8092/realms/fitness-app
